<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	version="4.0"
	metadata-complete="false"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
>
  <display-name>MovieLine_Web</display-name>
  <description>這是MovieLine的描述檔</description>
  <!-- 1.定義物件 -->
  <servlet>
  	<servlet-name>LoginCaptchaServlet</servlet-name>
  	<servlet-class>uuu.movieline.view.CaptchaServlet</servlet-class>
  </servlet>
  
  <!-- 2.將物件對應到網址 -->
  <servlet-mapping>
  	<servlet-name>LoginCaptchaServlet</servlet-name>
  	<url-pattern>/images/captcha.jpg</url-pattern>
  	<url-pattern>/images/captcha.JPG</url-pattern>
  </servlet-mapping>
  
  <!-- 首頁尋找順序 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>