<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	version="4.0"
	metadata-complete="false"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
>
  <display-name>MovieLine_Web</display-name>
  <description>這是MovieLine的描述檔</description>
  <!-- 登入畫面用的驗證碼 -->
  <!-- 1.定義物件 -->
  <servlet>
  	<description>login畫面用的驗證碼</description>
  	<servlet-name>LoginCaptchaServlet</servlet-name>
  	<servlet-class>uuu.movieline.view.CaptchaServlet</servlet-class>
  	<init-param>
  		<param-name>len</param-name>
  		<param-value>4</param-value>
  	</init-param>
  </servlet>
  
  <!-- 2.將物件對應到網址 -->
  <servlet-mapping>
  	<servlet-name>LoginCaptchaServlet</servlet-name>
  	<url-pattern>/images/captcha.jpg</url-pattern>
  </servlet-mapping>
  
  <!-- 註冊畫面用的驗證碼 -->
  <!-- 1.定義物件 -->
  <servlet>
  	<description>register畫面用的驗證碼</description>
  	<servlet-name>RegisterCaptchaServlet</servlet-name>
  	<servlet-class>uuu.movieline.view.CaptchaServlet</servlet-class>
  	<init-param>
  		<param-name>len</param-name>
  		<param-value>7</param-value>
  	</init-param>
  </servlet>
  
  <!-- 2.將物件對應到網址 -->
  <servlet-mapping>
  	<servlet-name>RegisterCaptchaServlet</servlet-name>
  	<url-pattern>/images/register_captcha.jpg</url-pattern>
  </servlet-mapping>
  <!-- Test -->
  <servlet>
  	<servlet-name>HelloJSP</servlet-name>
  	<jsp-file>/mod12/hello.jsp</jsp-file>
  	<init-param>
  		<param-name>welcomeString</param-name>
  		<param-value>哈囉</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloJSP</servlet-name>
  	<url-pattern>/test.asp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>HelloJSP2</servlet-name>
  	<jsp-file>/mod12/hello.jsp</jsp-file>
  	<init-param>
  		<param-name>welcomeString</param-name>
  		<param-value>你好</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloJSP2</servlet-name>
  	<url-pattern>/test.jsp</url-pattern>
  </servlet-mapping>
  <!-- 首頁尋找順序 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>