@charset "UTF-8";

#cart {
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	margin-top: 50px;
}
.booking_detail{
	border-collapse: collapse;
	width: 80%;
	width: 1080px;
	margin: auto;
	margin-top: 50px;
}
#cart td, #cart th {
	border: 1px solid #ddd;
	padding: 8px;
}
.booking_detail td, .booking_detail th {
	border: 1px solid #ddd;
	padding: 8px;
}
.td_box{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
}
.movie_name{
/* 	min-width: 280px; */
}
.change_seat_a{
/* 	border: 1px black solid; */
	text-align: center;
	padding: 10px;
	background: #2798de;
	border-radius: 3px;
	color: white;
	font-weight: bold;
}
.cart_counter_box{
	display: flex;
	flex-direction: row;
	justify-content: end;
}
.cart_counter{
	
}
.cart_total_price_box{
	display: flex;
	flex-direction: row;
	justify-content: end;
}
/* #cart tr:nth-child(even) { */
/* 	background-color: #f2f2f2; */
/* 	background-color: #2798de; */
/* 	color:black; */
/* } */

/* #cart tr:hover { */
/* 	background-color: #ddd; */
/* } */

#cart tbody img {
	width: 56px;
	vertical-align: middle;
}

.booking_detail tbody img {
	width: 56px;
	vertical-align: middle;
}

#cart caption {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #04AA6D;
	color: white;
}
.booking_detail caption{
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #04AA6D;
	color: white;
}
#cart th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: darkgray;
	background-color: #2798de;
	color: white;
}

#cart tfoot td {
	text-align: right
}
.delete_and_checkout{
	
}
.btn{
	border: 0;
	line-height: 44px;
	height: 44px;
	width: 60px;
	text-align: center;
	border-radius: 6px;
	background-color: #2660a9;
	color: white;
	align-self: center;
	cursor: pointer;
}