@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

body {
	margin: 0;
	font-family: 'Noto Sans TC', sans-serif;
}
footer{
	text-align:center;
}
article{
	width: 100%;
	margin: 0;
	padding-top: 99px;
	/* 將footer擠到下方 */
	min-height: 82vh;
}
a{
	text-decoration:none;
	color:inherit;
}
.menu {
	background-color: #8a00fc;
	background-color: #2660a9;
	height: 46px;
	width: 100%;
	/* 讓menu停在最上方*/
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 1;
	/* flex */
	display: flex;
	align-items: center;
}

.menu_search_form{
	margin: 0 auto;
	max-width: 342.67px;
	align-items: center;
	justify-content: center;
	flex-shrink: 1;
	flex-grow: 1;
}
.menu_search_form_items{
	font-family: 'Noto Sans TC', sans-serif;
}

.menu_logo_img{
	margin: 8px;
	width: 30px;
	flex-shrink: 0;
}

.menu_search_input{
	width: calc(100% - 47px);
	color: #ffffff;
	color: black;
	background-color: #494851;
	background-color: #f5faff;
	border-radius: 20px;
	border: 0;
    padding: 5px;
}
.menu_search_input:hover{
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
}
.menu_search_input:focus{
	border-radius: 5px;
	box-shadow: 2px 2px 5px black;
}
/*TODO:更改搜尋按鈕樣式*/
.menu_search_form_button{
	cursor: pointer;
	/*width: 25px;
	height: 25px;
	margin: auto;
	border: none;
	padding: 5px;
	background-size: cover;
	background-color: transparent;
	background-image:url("../source/search_FILL0_wght400_GRAD0_opsz48.svg") ;*/
}
.menu_dark_mode_button {
	width: 24px;
	height: 24px;
	padding: 8px;
	margin: 3px;
	cursor: pointer;
	flex-shrink: 0;
	border-radius: 50%;
}

.menu_dark_mode_button:hover {
	box-shadow: 2px 2px 5px black;
}

.nav{
	top: 46px;
	left: 0;
	height: 52px;
	width: 100%;
	display: flex;
	background-color: #313235;
	background-color: #2798de;
	position: fixed;
	border-bottom-color: rgb(220, 219, 230);
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 1;
}

.nav_list{
	display:flex;
	margin: 0;
	list-style: none;
}

.nav_list_a{
	color: #ffffff;
	text-decoration: none;
}

.nav_list_item{
	margin: 9px 0px;
	padding: 5px;
	border-left: 1px solid white;
	background-color: #313235;
	background-color: #2798de;
}

.nav_list_last_item{
	border-right: 1px solid white;
}

.nav_user{
	margin:0;
	margin-left:auto;
	padding: 14px 5px;
	color: #ffffff;
	cursor: pointer;
}
.nav_user_item{
	height:34px;
	/*test*/
	display:flex;
	/*test*/
	display:none;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align: center;
	background-color: #313235;
	background-color: #44475a;
	background-color: #333333;
}
.nav_user_a{
	color: #ffffff;
	text-decoration: none;
	display:block;
	width:100%;
	background-color:transparent;
}
.nav_user_item:hover{
	background-color: red;
	background-color: #2660a9;
}
.nav_user_item_first{
	border-top:1px solid rgb(220, 219, 230);
	margin-top:14px;
}
ul.nav_user:hover >.nav_user_item{
	display:flex;
}
.form_input--lightmode {
	width: 269px;
	height: 25px;
	border: 1px solid #DADCE0;
	border-radius: 6px;
	padding: 13px 15px;
	font-size: 18px;
	font-family: 'Noto Sans TC', sans-serif;
}
.form_input_box_show_password_button{
    width: 23px;
    height: 23px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
	border-radius: 6px;
}
.form_select--lightmode {
	width: 301px;
	height: 53px;
	padding: 13px 15px;
	border: 1px solid #DADCE0;
	border-radius: 6px;
	font-size: 18px;
}

.clear {
	clear: both;
}