@charset "UTF-8";
.body--darkmode {
	background-color: #282a36;
	color: #e8eaed;
}

.form_select--darkmode {
	background-color: #353535;
	color: #e8eaed;
	border-color: #6271a1;
}
.form_input--darkmode {
	background-color: #353535;
	color: #e8eaed;
	border-color: #6271a1;
}
.form_input_box_show_password_button--darkmode {
    filter: invert(86%) sepia(62%) saturate(5722%) hue-rotate(180deg) brightness(106%) contrast(116%);
}