@charset "UTF-8";

.main_div {
	width: 1170px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.seating_box {
	width: 434px;
	display: flex;
	flex-direction: column;
}

.screan_img {
	background-color: white;
	width: 100%;
	margin-bottom: 20px;
}

.seating_area {
	width: 100%;
	/* 	height: 100%; */
	table-layout: fixed;
}

.booking_form {
	min-height: 157px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 20px;
}

.hidden_inputs {
/* 	display: none; */
}

.input_box {
	display: flex;
}

.fake_input_box {
	position: relative;
	margin-left: auto;
	width: 60%;
	box-sizing: border-box;
	text-align: right;
	border-radius: 6px;
}

#fake_input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.fake_input_protect_div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.input_box>select, input:not([type="submit"], [type="search"]) {
	margin-left: auto;
	width: 60%;
	box-sizing: border-box;
	text-align: right;
	border-color: #6271a1;
	border-radius: 6px;
}

.booking_btn {
	height: 44px;
	border: 0;
	font-size: 1.2em;
	font-family: 'gotham ssm';
	border-radius: 6px;
	background-color: #2f96ee;
	color: white;
	cursor: pointer;
}

.booking_btn:hover {
	box-shadow: 2px 2px 5px black;
}

tr {
	line-height: 25px;
}

td {
	width: 25px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	border: 0;
	position: relative;
}

td>p {
	position: absolute;
	top: 0;
	left: 0;
	font-size: small;
	text-align: center;
	margin: 0;
	display: block;
	width: 25px;
	height: 25px;
	user-select: none;
	z-index: 1;
}

td>img {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.shopping_detail_box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
}

.panel {
	border-radius: 4px;
	border: 1px solid #337ab7;
	margin-bottom: 20px;
	margin-top: 20px;
	min-height: 562px;
}

.panel_title {
	width: 100%;
	height: 40px;
	padding: 10px 15px;
	border-radius: 4px 4px 0 0;
	display: flex;
	box-sizing: border-box;
	background-color: #337ab7;
}

.panel_title_icon {
	height: 100%;
	margin-right: 0.5em;
}

.panel_title_text {
	color: white;
	line-height: 20px;
}

.panel_body {
	padding: 5px 10px;
	min-height: 100px;
}

.product_box {
	padding: 10px;
	min-height: 161px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

hr {
	width: 100%;
}

.product_name {
	
}

.product_quantity {
	align-self: flex-end;
}

.total_price {
	align-self: flex-end;
}